In [121]:
import pandas as pd
import numpy as np

In [122]:
import matplotlib.pyplot as plt

In [123]:
plt.rcParams['figure.figsize'] = (15, 5)

In [124]:
file_data1 = "../data/data_1__.csv"
file_data2 = "../data/data_2__.csv"
file_data3 = "../data/data_3__.csv"
file_data4 = "../data/data_4__.csv"

In [125]:
df_data1 = pd.read_csv(file_data1, parse_dates=['data'])
df_data2 = pd.read_csv(file_data2, parse_dates=['data'])
df_data3 = pd.read_csv(file_data3, parse_dates=['data'])
df_data4 = pd.read_csv(file_data4)

In [126]:
df_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589 entries, 0 to 588
Data columns (total 3 columns):
index    589 non-null int64
data     589 non-null datetime64[ns]
valor    589 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 13.9 KB

In [127]:
df_data1.head()

   index       data     valor
0      0 2016-08-29      9.00
1      1 2016-08-30      1.60
2      2 2016-08-31  15311.70
3      3 2016-09-01  13932.67
4      4 2016-09-02  11535.45

In [128]:
df_tudo = pd.concat([df_data1, df_data2, df_data3])
df_tudo

    index       data      valor
0       0 2016-08-29       9.00
1       1 2016-08-30       1.60
2       2 2016-08-31   15311.70
3       3 2016-09-01   13932.67
4       4 2016-09-02   11535.45
5       5 2016-09-03   25864.32
6       6 2016-09-04  161344.35
7       7 2016-09-07   46380.31
8       8 2016-09-08    7341.94
9       9 2016-09-09   20184.57
10     10 2016-09-10   28359.77
11     11 2016-09-11   91701.65
12     12 2016-09-14   14836.67
13     13 2016-09-15   12446.20
14     14 2016-09-16   12083.45
15     15 2016-09-17   31864.65
16     16 2016-09-18   94610.57
17     17 2016-09-21   16865.56
18     18 2016-09-22    9134.95
19     19 2016-09-23   17733.30
20     20 2016-09-25  115505.50
21     21 2016-09-26     580.40
22     22 2016-09-28   18110.85
23     23 2016-09-29    7492.46
24     24 2016-09-30    5652.10
25     25 2016-10-01   84379.41
26     26 2016-10-02   87796.85
27     27 2016-10-05   16684.48
28     28 2016-10-06    6360.95
29     29 2016-10-07   13873.31
..    ...        ...        ...
42     42 2018-10-02    4719.77
43     43 2018-10-03    5325.13
44     44 2018-10-04   10793.82
45     45 2018-10-05   16439.73
46     46 2018-10-06   16145.05
47     47 2018-10-07   14954.49
48     48 2018-10-08    3660.66
49     49 2018-10-09    3445.37
50     50 2018-10-10    5815.37
51     51 2018-10-11   14164.03
52     52 2018-10-12   12916.15
53     53 2018-10-13   13871.97
54     54 2018-10-14   10994.90
55     55 2018-10-15    7181.68
56     56 2018-10-16    3534.76
57     57 2018-10-17    4463.52
58     58 2018-10-18    8746.33
59     59 2018-10-19   11200.49
60     60 2018-10-20   15562.98
61     61 2018-10-21   12947.56
62     62 2018-10-22    3710.66
63     63 2018-10-23    3932.56
64     64 2018-10-24    5117.40
65     65 2018-10-25    7973.97
66     66 2018-10-26   11496.88
67     67 2018-10-27   15060.21
68     68 2018-10-28   13367.74
69     69 2018-10-29    4178.29
70     70 2018-10-30    2623.59
71     71 2018-10-31    6190.43

[2203 rows x 3 columns]

In [129]:
#df_data1['day'] = df_data1.data.dt.day
df_tudo['month'] = df_tudo.data.dt.month
df_tudo['year'] = df_tudo.data.dt.year
df_tudo = df_tudo.drop(columns=['data','index'])

In [130]:
#last_month = df_data1['month'].values == 12

In [93]:
# df_ultimoMeses = df_data1[last_month]
# df_SemUltimoMeses = df_data1[~last_month]

In [131]:
df_tudo

        valor  month  year
0        9.00      8  2016
1        1.60      8  2016
2    15311.70      8  2016
3    13932.67      9  2016
4    11535.45      9  2016
5    25864.32      9  2016
6   161344.35      9  2016
7    46380.31      9  2016
8     7341.94      9  2016
9    20184.57      9  2016
10   28359.77      9  2016
11   91701.65      9  2016
12   14836.67      9  2016
13   12446.20      9  2016
14   12083.45      9  2016
15   31864.65      9  2016
16   94610.57      9  2016
17   16865.56      9  2016
18    9134.95      9  2016
19   17733.30      9  2016
20  115505.50      9  2016
21     580.40      9  2016
22   18110.85      9  2016
23    7492.46      9  2016
24    5652.10      9  2016
25   84379.41     10  2016
26   87796.85     10  2016
27   16684.48     10  2016
28    6360.95     10  2016
29   13873.31     10  2016
..        ...    ...   ...
42    4719.77     10  2018
43    5325.13     10  2018
44   10793.82     10  2018
45   16439.73     10  2018
46   16145.05     10  2018
47   14954.49     10  2018
48    3660.66     10  2018
49    3445.37     10  2018
50    5815.37     10  2018
51   14164.03     10  2018
52   12916.15     10  2018
53   13871.97     10  2018
54   10994.90     10  2018
55    7181.68     10  2018
56    3534.76     10  2018
57    4463.52     10  2018
58    8746.33     10  2018
59   11200.49     10  2018
60   15562.98     10  2018
61   12947.56     10  2018
62    3710.66     10  2018
63    3932.56     10  2018
64    5117.40     10  2018
65    7973.97     10  2018
66   11496.88     10  2018
67   15060.21     10  2018
68   13367.74     10  2018
69    4178.29     10  2018
70    2623.59     10  2018
71    6190.43     10  2018

[2203 rows x 3 columns]

In [95]:
df_SemUltimoMeses

         valor  month  year
0         9.00      8  2016
1         1.60      8  2016
2     15311.70      8  2016
3     13932.67      9  2016
4     11535.45      9  2016
5     25864.32      9  2016
6    161344.35      9  2016
7     46380.31      9  2016
8      7341.94      9  2016
9     20184.57      9  2016
10    28359.77      9  2016
11    91701.65      9  2016
12    14836.67      9  2016
13    12446.20      9  2016
14    12083.45      9  2016
15    31864.65      9  2016
16    94610.57      9  2016
17    16865.56      9  2016
18     9134.95      9  2016
19    17733.30      9  2016
20   115505.50      9  2016
21      580.40      9  2016
22    18110.85      9  2016
23     7492.46      9  2016
24     5652.10      9  2016
25    84379.41     10  2016
26    87796.85     10  2016
27    16684.48     10  2016
28     6360.95     10  2016
29    13873.31     10  2016
..         ...    ...   ...
559   11448.55      9  2018
560   32258.55      9  2018
561   17948.50      9  2018
562   99973.90      9  2018
563   13598.15      9  2018
564    9937.20      9  2018
565   21288.81      9  2018
566   20712.30      9  2018
567   85709.60      9  2018
568   15895.50     10  2018
569    9273.00     10  2018
570   16079.25     10  2018
571   29740.60     10  2018
572   45392.70     10  2018
573   15858.59     10  2018
574   10426.85     10  2018
575   49380.00     10  2018
576    1006.00     10  2018
577  117363.60     10  2018
578   13757.00     10  2018
579    8507.80     10  2018
580   11581.70     10  2018
581   26245.90     10  2018
582   78560.85     10  2018
583   17529.25     10  2018
584    7865.80     10  2018
585   64380.30     10  2018
586   17235.10     10  2018
587   62124.40     10  2018
588   17325.90     10  2018

[539 rows x 3 columns]

In [132]:
df_agrupado = df_tudo.groupby(['month','year'], as_index=False).sum()

In [133]:
df_agrupado

    month  year       valor
0       1  2015    80715.76
1       1  2016   398732.38
2       1  2017  1614344.03
3       1  2018  1128525.46
4       2  2015    72224.63
5       2  2016   300369.98
6       2  2017   953404.64
7       2  2018   865359.64
8       3  2015    73179.45
9       3  2016   307800.64
10      3  2017  1290025.53
11      3  2018   916982.79
12      4  2015   263512.38
13      4  2016   323850.44
14      4  2017  1232571.76
15      4  2018  1213828.56
16      5  2015   325193.14
17      5  2016   338480.67
18      5  2017  1191163.02
19      5  2018  1047290.33
20      6  2015   333163.07
21      6  2016   332429.23
22      6  2017  1112314.26
23      6  2018  1138430.96
24      7  2014        1.50
25      7  2015   402575.47
26      7  2016   408854.16
27      7  2017  1296257.07
28      7  2018  1193697.50
29      8  2014    54228.86
30      8  2015   331405.31
31      8  2016   319178.12
32      8  2017   873094.43
33      8  2018  1217509.50
34      9  2014    79707.74
35      9  2015   294473.47
36      9  2016  1106750.99
37      9  2017  1139041.79
38      9  2018  1483112.71
39     10  2014    92994.49
40     10  2015   331473.15
41     10  2016  1458219.27
42     10  2017  1237819.85
43     10  2018  1367607.82
44     11  2014    99751.70
45     11  2015   337373.41
46     11  2016  1362836.37
47     11  2017  1220584.20
48     12  2014   121334.26
49     12  2015   438262.95
50     12  2016  1576162.11
51     12  2017  1617688.46

In [134]:
X_= pd.DataFrame(df_agrupado[['month', 'year']])
y_pred= pd.DataFrame(df_agrupado['valor'])

In [135]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [136]:
model = LinearRegression()

In [137]:
model.fit(X_, y_pred)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [138]:
pred_month11 = model.predict(np.array([11, 2018]).reshape(1, -1))
pred_month11

array([[1615405.58157206]])

In [139]:
pred_month12 = model.predict(np.array([12, 2018]).reshape(1, -1))
pred_month12

array([[1666815.65800178]])